:root {
    --dark: #131017;
    --cyan: #00d5ff;
    --neon: #b6f3ff;
    --deep-purp: #4a1a60;
    --midnight: #24172a;
    --carmine: #ff008c;
    --leftSpace: 260px;
    --rightSpace: 60px;
  }

  /* sets default parameters for text color and
  webpage background color */
*{
color: var(--carmine);
background-color: var(--dark);
}


/* sets header font sizes */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 10px;
  color: var(--carmine);
  font-weight: 700;
  line-height: 1.1;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 18px;
}

/* paragraph text font size and family */
p {
  font-size: 16px;
  line-height: 28px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* sidebar header and navigator */
.sidebar{
    margin: 0;
    padding: 0;
    width: 10%;
    background-color: var(--deep-purp);
    position: fixed;
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
}

.sidebar h1,
.sidebar p{
    background-color: var(--deep-purp);
    margin: 5%;
    padding: 1%;
}

.sidebar a{
    display: flex;
    flex-wrap: wrap;
    color:var(--cyan);
    background-color: var(--deep-purp);
    padding: 5%;
    text-decoration: none;
}

/* changes the style of a link while cursor hovers over it */
.sidebar a:hover{
    background-color: var(--midnight);
    color: var(--neon);
    text-shadow: 0 0 3px var(--cyan);
}

/* keeps content out from behind sidebar */
main{
  margin-left: 10%;
}

/* brent rambo */
.top-image{
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../assets/images/brent-rambo.jpg");
    background-size: cover;
    background-position: center;
}

/* individual content boxes for different sections of the website */
.card{
    border-width: 0px;
    border-left: 10px;
    border-style: solid;
    border-color: var(--carmine);
    padding-left: 2%;
    margin: 2%;
}

/* Bio and picture side by side */
.about-me p{
  display: inline-block;
  vertical-align: center;
  text-align: justify;
  width: 46%;
}

.about-me img{
  display: inline-block;
  vertical-align: top;
  width: 46%;
  max-height: 400px;
  object-fit: contain;
}


.projects{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 3%;
}

.projects h4{
  background-color: var(--cyan);
  position: absolute;
  top: -22;
}

.projects img{
  margin: 10px;
  max-height: 100%;
  max-width: 100%;
}

/* changes image style when hovered over */
.projects img:hover{
  border-style: solid;
  border-width: 4px;
  border-color: var(--cyan);
}


.contacts{
  display: flex;
  justify-content: space-around;
}


/* changes contact link text from default to have them stand out */
.contacts a,
.contacts p{

  border-width: 0px;
  border-bottom: 5px;
  border-style: solid;
  border-color: var(--cyan);
  font-size: 22px;
  font-weight: 400;
  text-decoration: none;
}


/* changes website display when screen changes size */
@media screen and (max-width: 768px) {
  main,
  .card,
  .projects{
    flex-direction: column;
  }  

  main{
    margin-left: 1%;
  }
  
  .sidebar{
    width: 100%;
    position: relative;
    text-align: center;
  }

  .about-me p{
    text-align: center;
  }

  .contacts{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
  }

  .about-me p{
    width: 90%;
  }

  .about-me img{
    margin: 0 25%;
  }


}